:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --white: #f9f9f9;
    --light-grey: #c8e4e7;
    --grey: grey;
    --green1: #2CCCD3;
    --green2: #21979c;
    --green3: #223C4A;
    --black: #0e1a21;
    --overlay: #223c4aab;
  
    --todo: #cffdffd7;
    --doing: #9cfaffd5;
    --done: #2cccd4d7;

    --antracite: #424242;
    --azul: #44a9df;
    --verde: #5cbc6b;
    --amarelo: #ffd758;
    --vermelho: #ef5350;
    --laranja: #f47d22;
  
    --warningMessages: #9C3B21;
  
    margin: 0;
    padding: 0;
  }


  .aside {
    width: 300px;
    height: 90vh;
    padding-top: 40px;
    float: left;
    background-color: var(--light-grey);
    text-align: center;
}

.aside hr {
    margin-block: 30px;
    width: 80%;
}

.aside label {
    display: block;
    margin: 20px 0 10px;
    font-size: 15px;
    font-weight: bold;
    color: var(--green3);
    text-transform: uppercase;
}

.aside input {
    margin-bottom: 10px;
    width: 150px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: var(--green3);
    background-color: var(--white);
    border: solid var(--green3) 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 5px;
}
.aside input::placeholder {
    color: var(--green2);
    font-weight: 300;
}


.dropdown {
    border: 2px solid var(--green2);
    margin: 0 50px 30px;
    padding: 20px;
    border-radius: 10px;
}


.dropdown-select {
    margin-bottom: 10px;
    width: 160px;
    height: 30px;
    font-size: 12px;
    color: var(--green3);
    background-color: var(--white);
    border: solid var(--green3) 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

#add-category-button,
.action-button {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--green2);
    border: solid var(--green3) 2px;
    border-radius: 5px;
    cursor: pointer;
}

#add-category-button:hover,
.action-button:hover {
    background-color: var(--green3);
    color: var(--white);
}
.div-back-home {
    margin-top: 40px;
    margin-bottom: 60px;
}
.link-to-home {
    color: var(--green3);
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.link-to-home:hover {
    color: var(--green2);
}